* {
    box-sizing: border-box;
    margin: 0;
}
*:focus,*:hover{
    outline:none;
}
body {
    font-family: 'Nunito', sans-serif;
    /* font-weight: 200; */
    background-color:#86BBD8;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.wrapper {
    position: absolute;
    top: 10%;
    text-align: center;
    width: 50%;
    background-color: white;
    border-radius: 10px;
}
.title {
    background-color: #336699;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 4em;
}
.title h1 {
    color: white;
    padding-top: 12px;
}
.formWrappper {
    margin-top: 25px;
}
h2 {
    margin: 15px 0;
}
.element {
    margin-top: 30px;
}
.inputWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icon {
    background-color: #336699;
    width: 40px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.iconImg {
    max-height: 70%;
    margin-top: 6px;
    object-fit: contain;
}
.input{
    height: 40px;
}
select {
    height: 3em;
}
button {
    display: block;
    margin: 20px auto 20px;
    font-size: 1.3em;
    width: 8em;
    height: 2em;
    border-radius: 5px;
    border: solid 2px #336699;
    background-color: #336699;
    color: white;
    transition: 0.3s;

}
button:hover {
    background-color: #80aad5;
    color: black;
}
.result-loader {
    display: none;
}
.result {
    margin-bottom: 20px;
}
.result span{
    font-weight: 600;
}

.alert {
    padding: 10px 0px;
    background-color: #f13d44;
    color: white;
    display: none;
}